[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/oblitum/YouCompleteMe.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/checklist.vim"]
	path = bundle/checklist.vim
	url = https://github.com/dzhioev/checklist.vim.git
[submodule "bundle/vim-python-indent"]
	path = bundle/vim-python-indent
	url = https://github.com/aarongable/vim-python-indent.git
	branch = chromium-style
[submodule "bundle/ruscmd"]
	path = bundle/ruscmd
	url = https://github.com/vim-scripts/ruscmd.git
[submodule "bundle/vim-swap"]
	path = bundle/vim-swap
	url = https://github.com/machakann/vim-swap
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
